<html>
    <head>
        <title></title>
    </head>
    <body>
        <form action = '/update_data' method = 'POST'>
            <input type="text" placeholder="username" name = 'username'>
            <input type="email" placeholder="email" name = 'email'>
            <input type="text" placeholder="phone" name = 'phone'>
        </form>
    </body>
</html>