<!DOCTYPE html>
<html>
<head>
	<title>
		Home Page
	</title>
</head>
<body>
    <a id="login" href = "https://fest-website-iitpkd-recursed.c9users.io/login">Login</a>
    <a id="signup" href="https://fest-website-iitpkd-recursed.c9users.io/signup">SignUp</a>
</body>
</html>