<!DOCTYPE html>
<html>
<head>
	<title>
	    SignUp Page
	</title>
</head>
<body>
    
    <form action="/addUser" method="POST">
        <input type="text" name="name" placeholder="Full Name">
        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="pass" placeholder="Password">
        <input type="password" name="repass" placeholder="Re-type Password">
        <input type="text" name="college_name" placeholder="Your College Name">
    </form>
    
</body>
</html>